@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
*{
    font-family: "Happy Monkey", system-ui;
    font-weight: bold;
    font-style: normal;
}
.selected{
    font-size: large;
}
ul li {
    color: black;
}

#sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
ul{
    list-style: square;
    padding: 0;
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#sidebar .btn {
    width: 100%;
}

main {
    margin-left: 250px; /* Adjust this value based on your sidebar width */
}

@media (max-width: 768px) {
    #sidebar {
        position: relative;
        height: auto;
        margin-bottom: 20px;
    }
    main {
        margin-left: 0;
    }
}
